{% load crispy_forms_tags %}




<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Handlee&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "container" >
    
    <div class = "row">
    <div class = "col-12">
    <h1 style = "text-align:center; margin-bottom:50px; font-family: 'Handlee', cursive;">DoubtOut</h1>
    </div>
    </div>
     <div class = "row">
    <div class = "col-12">
    <a href = "{% url 'api' %}"><button class="btn btn-primary" style = "display:block; margin: auto; margin-bottom:50px;">Videos-API</button></a>
    </div>
    </div>
    <div class = "row">
        <div class = "col-12">
        <a href = "{% url 'posts-api' %}"><button class="btn btn-primary" style = "display:block; margin: auto; margin-bottom:50px;">Posts-API</button></a>
        </div>
        </div>
    <div class = "row">
    <div class = "col-12">
    <a href = "{% url 'create-subject' %}"><button class="btn btn-primary" style = "display:block; margin: auto; margin-bottom:50px;">Upload a Video Link</button></a>
    </div>
    </div>
    <div class = "row">
      <div class = "col-12">
      <a href = "{% url 'create-post' %}"><button class="btn btn-primary" style = "display:block; margin: auto; margin-bottom:50px;">Upload a Post</button></a>
      </div>
      </div>
   
      <div class = "row">
          <div class = "col-12">
          <a href = "{% url 'posts' %}"><button class="btn btn-primary" style = "display:block; margin: auto; margin-bottom:50px;">Posts</button></a>
          </div>
          </div>

    <div class = "row">
    <div class = "col-12">
    <a href = "{% url 'MATHS' %}"><button class="btn btn-primary" style = "display:block; margin: auto; margin-bottom:50px;">MATHS</button></a>
    </div>
    </div>
    
    
    <div class = "row">
    <div class = "col-12">
    <a href = "{% url 'SCIENCE' %}" ><button class="btn btn-primary" style = "display:block; margin :auto; margin-bottom:50px;">SCIENCE</button></a>
    </div>
    </div>
    </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>